@import url(colors.css);
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    font-family: "Lato", sans-serif;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    text-align: center;
    align-items: center;
    color: var(--cor-destaque);
}
.header-container a{
    color: var(--cor-destaque);
    text-decoration: none;
    transition: 0.3s;
}
.header-container a:hover {
    transform: translateY(-2px);
}
.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}


.login {
    display: flex;
    justify-content: space-around;
    padding: 60px 10px;
    align-items: center;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: 0.3px solid hsla(0, 0%, 80%, 0.071);
    border-radius: 10px;
    background-color: rgba(50, 50, 50, 0.338);
    backdrop-filter: blur(10px);

    padding: 40px;

    box-shadow: 0 10px 25px rgba(59, 58, 58, 0.8);

}
.info-container h1{
    color: var(--cor-destaque);
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: var(--cor-secundaria);
    padding: 30px;
    border-radius: 5px;
    position: relative;

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.8);
    

}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.login-form::before,
.login-form::after {
    content: '';
    position: absolute;
    inset: -3px;
    background: conic-gradient(
        from var(--angle),
        transparent 70%,
        #5f818a,
        transparent
    );
    border-radius: 5px;
    z-index: -1;
    animation: spin 4s linear infinite;
}

.login-form::before {
    filter: blur(20px);
    opacity: 0.7;
}


@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

.email, .password {
    position: relative; 
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.login-form label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #ffffff;
}

.login-form i {
    position: absolute;
    left: 12px;
    top: 38px; 
    font-size: 20px;
    color: var(--cor-destaque);
    pointer-events: none;
    z-index: 1;
}

.login-form input {
    width: 100%;
    padding: 12px 12px 12px 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
}

.login-form input:focus {
    border-color: #86b5e7;
}

.login-form input:focus + i { 
    color: #86b5e7;
}
.login-form button {
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    background-color: var(--cor-destaque);
}
.login-form button:hover {
    transform: translateY(-2px);
}
.login-form button:active {
    scale: 0.98;
}
.login-form h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    
}
